
DDrogi/Droga {{$username}},
	Niedawno otrzymaliśmy prośbę o zresetowanie hasła do konta na {{$ sitename}}.
Aby potwierdzić tę prośbę, wybierz link weryfikacyjny poniżej lub wklej go w pasku
adresu przeglądarki internetowej. 

Jeśli jest to pomyłka i nie chcesz zmieniać hasła, NIE klikaj podanego linku i
zignoruj albo usuń tą wiadomość e-mail. 

Twoje hasło nie zostanie zmienione, chyba że potwierdzisz prawdziwość tego żądania.

Kliknij ten link, aby zweryfikować swoją tożsamość i potwierdzić żądanie zmiany hasła:

{{$reset_link}}

Następnie otrzymasz wiadomość uzupełniającą. która zawiera nowe hasło.

Możesz zmienić to hasło na stronie ustawień konta, po zalogowaniu się.

Dane logowania są następujące:

Lokalizacja serwisu: {{$siteurl}}
Nazwa logowania: {{$email}}



Z poważaniem,
	{{$sitename}} Administrator

--
Warunki świadczenia usług:
{{$siteurl}}/help/pl/TermsOfService
 
